<!-- RODAPE -->
  <footer class="rodape" id="contato">
    <div class="recipiente graderodape">
      
      <!-- LOGOTIPO -->
      <div class="logorodape">
        <a href="#inicio">
          <img src="img/Logotipo_AlugaHub-removebg-preview 2.png" alt="AlugaHub" height="38">
        </a>
      </div>

      <!-- COLUNA: SOBRE -->
      <div class="colunarodape">
        <h4>Sobre</h4>
        <ul>
          <li><a href="#inicio">Início</a></li>
          <li><a href="#produtos">Produtos</a></li>
          <li><a href="#sobre">Sobre Nós</a></li>
        </ul>
      </div>

      <!-- COLUNA: SUPORTE -->
      <div class="colunarodape">
        <h4>Suporte</h4>
        <ul>
          <li><a href="#contato">Contato</a></li>
          <li><a href="#">Termos de serviço</a></li>
        </ul>
      </div>

      <!-- COLUNA: REDES SOCIAIS -->
      <div class="colunarodape social">
        <h4>Nossas Redes Sociais</h4>
        <div class="linkssociais">
          <a href="#" aria-label="Instagram">
            <img src="img/instagram (1).png" alt="Instagram">
            <span>Instagram</span>
          </a>
          <a href="#" aria-label="Facebook">
            <img src="img/facebook.png" alt="Facebook">
            <span>Facebook</span>
          </a>
          <a href="#" aria-label="LinkedIn">
            <img src="img/Vecto.png" alt="LinkedIn">
            <span>LinkedIn</span>
          </a>
        </div>
      </div>

    </div>
  </footer>